.main_header
{
  font-size: 35px;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-align: left;
  position: relative;

  left: 12%;
  top: 300px;
}

.main_header_text
{
  font-size: 22px;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  position: relative;

  left: 12%;
  top: 310px;
}

.social_button
{
  position:relative; 
  width: 46px;
  height: 42px;
  border-radius: 6px;

  background: transparent; 
  border: transparent;
}

.social_button:hover
{
  transition: all 0.3s ease-in-out;
  background: #2C3E56; 
}